<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyut.psychological.common.notification.mapper.NotificationLogMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO notification_log (
            receiver_user_id, receiver_name, phone, notify_type, title,
            content, send_status, send_time, related_id, create_time
        ) VALUES (
            #{receiverUserId}, #{receiverName}, #{phone}, #{notifyType}, #{title},
            #{content}, #{sendStatus}, #{sendTime}, #{relatedId}, NOW()
        )
    </insert>

    <select id="selectByStudentId" resultType="com.tyut.psychological.common.notification.vo.StudentNotificationVO">
        SELECT 
            id,
            title,
            content,
            notify_type,
            send_time,
            0 AS read_status
        FROM notification_log
        WHERE receiver_user_id = #{studentId}
        ORDER BY send_time DESC
    </select>

    <select id="countByStudentId" resultType="long">
        SELECT COUNT(*)
        FROM notification_log
        WHERE receiver_user_id = #{studentId}
    </select>

    <sql id="adminNotificationWhere">
        WHERE 1 = 1
        <if test="query.keyword != null and query.keyword != ''">
            AND (
                receiver_name LIKE CONCAT('%', #{query.keyword}, '%')
                OR phone LIKE CONCAT('%', #{query.keyword}, '%')
                OR title LIKE CONCAT('%', #{query.keyword}, '%')
                OR content LIKE CONCAT('%', #{query.keyword}, '%')
            )
        </if>
        <if test="query.notifyType != null and query.notifyType != ''">
            AND notify_type = #{query.notifyType}
        </if>
        <if test="query.sendStatus != null and query.sendStatus != ''">
            AND send_status = #{query.sendStatus}
        </if>
        <if test="query.startTime != null">
            AND send_time &gt;= #{query.startTime}
        </if>
        <if test="query.endTime != null">
            AND send_time &lt;= #{query.endTime}
        </if>
    </sql>

    <select id="pageForAdmin" resultType="com.tyut.psychological.common.notification.vo.NotificationLogVO">
        SELECT
            id,
            receiver_name AS receiverName,
            phone AS receiverPhone,
            notify_type AS notifyType,
            title,
            content,
            send_status AS sendStatus,
            send_time AS sendTime
        FROM notification_log
        <include refid="adminNotificationWhere"/>
        ORDER BY send_time DESC, id DESC
        LIMIT #{query.pageSize} OFFSET #{query.offset}
    </select>

    <select id="countForAdmin" resultType="long">
        SELECT COUNT(*)
        FROM notification_log
        <include refid="adminNotificationWhere"/>
    </select>

</mapper>